*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
.next-days{
    width:100px; height: 125px;
}
.current-day-img{
    height:150px; 
    width:175px;
}
#weather-stats p{
    flex: 0 0 50%;
}
.custom-card{
    width:40%;
}
h5::after{
    content: "⛅️"
}

@media screen and (max-width: 860px){
    .contain{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .m-query{
        min-width: 75%;
        margin: 2% 0;
    }
    .
}
